. . . .delete-post-icon {
    background-image: url("/images/parts9.png");
    background-repeat: no-repeat;
    width: 20px;
    height: 20px;
    background-size: 20px !important;
    color: #262626;
    font-size: 20px;
}

// ==========ここから追加する==========
.loved {
    background-image: url("/images/parts7.png");
    background-repeat: no-repeat;
    height: 36px;
    width: 36px;
    background-size: 36px !important;
}

.hide-text {
    display: block;
    overflow: hidden;
    text-indent: 110%;
    white-space: nowrap;
}

// ==========ここまで追加する==========